@import 'assets/sass/variables/_variables.scss';

.fee {
  margin-bottom: 16px;

  .value {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text {
      display: block;
      color: var(--dapp-form-label-color);
      font-weight: 400;
    }
  }
}
