@import 'assets/sass/variables/variables';

.confirmScreen {
  text-align: left;
  line-height: 1.5;
  padding: 1.5rem;

  .confirmScreenButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
