@import 'assets/sass/variables/_variables.scss';

.can-transfer-warning {
  padding: 1.5rem;
  margin: 1rem 0;
  border: 1px solid $warning;
  border-radius: 0.45rem;
  background-color: rgba($warning, 0.5);

  .wegld-alert-warning {
    display: flex;
    align-items: center;
  }

  .wegld-alert-icon {
    margin-right: 0.5rem;

    path {
      fill: var(--warning);
    }
  }

  .can-transfer-warning-wrapper {
    min-width: 0;
  }

  .can-transfer-warning-label {
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .can-transfer-warning-message {
    margin-bottom: 0.5rem;
  }

  .can-transfer-warning-list {
    margin: 0;
    padding-left: 2rem;
  }

  .can-transfer-warning-receiver {
    word-break: break-all;
    margin-bottom: 0;
  }
}
