@import 'assets/sass/variables/variables';

.amount-input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: var(--black);
  font-variant-numeric: tabular-nums;
  font-weight: 500;
  height: 100%;
  padding: 1rem;
  width: 100%;

  &::focused,
  &::active {
    box-shadow: none;
  }

  &::placeholder {
    font-weight: 300;
  }

  @include media-breakpoint-down(sm) {
    &::placeholder {
      font-size: 1rem;
    }
  }
}

.amount-holder {
  max-width: 50%;
  position: relative;
  width: 100%;

  &.show-usd-value {
    .amount-input {
      padding-top: 0.375rem;
      padding-bottom: 1.5rem;
    }
  }

  .amount-holder-usd {
    display: flex;
    font-size: 1rem !important;
    line-height: 1;
    padding: 0 1rem;
    position: absolute;
    color: var(--dapp-form-label-color);
    top: 1.875rem;
    width: 100%;

    small {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .input {
    height: 70px;
  }
}
