@import 'assets/sass/variables/variables';

.data {
  line-height: 1.5;
  display: flex;
  flex-direction: column;

  .secondary {
    color: var(--secondary);
  }

  .textarea {
    margin-top: 8px;
    font-weight: 700;
  }
}
