@import 'assets/sass/variables/variables';

.data {
  display: flex;
  flex-direction: column;

  .value {
    min-height: 80px;
    font-size: 14px;
    padding: 12px;
    line-height: 1.25;
    border-radius: 6px;
    border: 1px solid var(--dapp-form-input-data-border);
    word-break: break-all;
  }
}
