@import 'assets/sass/variables/variables';

.confirmData {
  line-height: 1.5;
  display: flex;
  flex-direction: column;

  .confirmDataLabel {
    color: $secondary;
    display: block;
  }

  .confirmDataOutput {
    color: $secondary;
  }
}
