@import 'assets/sass/variables/variables';

.data {
  line-height: 1.5;
  display: flex;
  flex-direction: column;

  .label {
    color: $secondary;
    display: block;
  }

  .secondary {
    color: $secondary;
  }
}
