@import 'assets/sass/variables/_variables.scss';

.amountSlider {
  .amountSliderRange {
    position: relative;
    display: flex;
    margin: 10px 16px 30px 0;

    &:after {
      width: 100%;
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      position: absolute;
      background: $border-color;
      height: 4px;
    }

    .amountSliderInput {
      width: calc(100% + 16px);
      opacity: 0;
      z-index: 6;
      cursor: pointer;
      height: 1.25rem;
      margin-right: -16px;

      &.disabled {
        pointer-events: none;
        cursor: default;
      }

      &:hover ~ .amountSliderThumb .amountSliderThumbPercentage {
        opacity: 1;
      }
    }

    .amountSliderThumb {
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      background-color: var(--black);
      z-index: 5;

      &.disabled {
        background-color: $secondary;
      }

      .amountSliderThumbPercentage {
        line-height: 1;
        opacity: 0;
        transition: all 400ms ease;
        color: var(--white);
        font-weight: 500;
        position: absolute;
        left: 50%;
        padding: 0.25rem 0.35rem;
        background: var(--black);
        border-radius: var(--dapp-form-input-border-radius);
        font-size: 11px;
        transform: translateX(-50%);
        bottom: calc(100% + 0.25rem);
      }
    }

    .amountSliderCompletion {
      height: 4px;
      background: $primary;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 3;
      margin-left: 2px;

      &.disabled {
        background: $secondary;
      }
    }

    .amountSliderBreakpoint {
      position: absolute;
      transform: translate(-25%, -50%);
      padding: 15px;
      top: 50%;
      z-index: 4;

      &:after {
        content: '';
        position: absolute;
        height: 12px;
        border-radius: 50%;
        background-color: var(--white);
        border: 2px solid $primary;
        width: 12px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.completed:after {
        background-color: $primary;

        &.disabled:after {
          background-color: $secondary;
        }
      }

      &.disabled:after {
        border-color: $secondary;
      }
    }

    .amountSliderPercentage {
      position: absolute;
      left: 50%;
      transform: translateX(-25%);
      z-index: 7;
      padding: 1.5rem 0 0;
      line-height: 1;
      color: var(--black);
      font-size: 12px;
      cursor: pointer;

      &:hover ~ .amountSliderThumb .amountSliderThumbPercentage {
        opacity: 1;
      }

      &.exact {
        font-weight: bold;
      }

      &.disabled {
        pointer-events: none;
      }
    }
  }
}
