@use 'sass:math';

$light: #fafafa !default;
$white: white !default;
$black: black !default;
$brown: #212529 !default;
$primary: #1b46c2 !default;
$secondary: #6c757d !default;
$primary-light: #1392ff !default;
$input-border-radius: 0.25rem !default;
$card-border-radius: 0.25rem !default;
$card-bg: $white !default;
$border-color: #dee2e6 !default;
$link-hover-color: #122e7f !default;
$error: #dc3545 !default;
$warning: #ffc107 !default;
$btn-blue: #163aa0 !default;

$input-color: #495057 !default;
$input-border-color: #ced4da !default;
$input-border-focus: #7191eb !default;

:root {
  --primary: #1b46c2;
  --border-color: #dee2e6;
  --card-bg: white;
  --black: black;

  --dapp-form-bg: #242526;
  --dapp-form-label-color: #9ba5b4;
  --dapp-form-input-bg: #131313;
  --dapp-form-placeholder-color: #9ba5b4;
  --dapp-form-input-color: #ffffff;
  --dapp-form-error-color: #ff4f8a;
  --dapp-form-max-btn-bg: #242526;
  --dapp-form-max-hover-btn-bg: #3066ff;
  --dapp-form-max-btn-color: #ffffff;
}

@mixin media-breakpoint-up($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: 576px) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media (min-width: 768px) {
      @content;
    }
  }
}

@mixin media-breakpoint-down($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 575px) {
      @content;
    }
  }

  @if $breakpoint == sm {
    @media (max-width: 767px) {
      @content;
    }
  }
}
