@use 'sass:math';

$a: #1392ff;
$light: #fafafa;
$white: white;
$black: black;
$primary: #1b46c2;
$secondary: #6c757d;
$input-border-radius: 0.25rem;
$card-border-radius: 0.25rem;
$card-bg: $white;
$border-color: #dee2e6;
$link-hover-color: #122e7f;

:root {
  --primary: #1b46c2;
  --border-color: #dee2e6;
  --card-bg: white;
}

@mixin media-breakpoint-up($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: 576px) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media (min-width: 768px) {
      @content;
    }
  }
}

@mixin media-breakpoint-down($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 575px) {
      @content;
    }
  }

  @if $breakpoint == sm {
    @media (max-width: 767px) {
      @content;
    }
  }
}
