@import 'assets/sass/variables/_variables.scss';

.can-transfer-warning {
  border-radius: 8px;
  padding: 16px;
  border: 1px solid var(--action-bg);

  .can-transfer-warning-heading {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    color: var(--dapp-form-label-color);

    .can-transfer-warning-icon {
      margin-right: 8px;
      color: $warning;
    }

    .can-transfer-warning-label {
      color: $warning;
    }
  }

  .can-transfer-warning-addresses {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .can-transfer-warning-address {
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 12px;
      color: var(--dapp-form-label-color);
      gap: 8px;

      &:before {
        position: absolute;
        content: '';
        left: 0;
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 6px solid var(--dapp-form-placeholder-color);
        top: 50%;
        transform: translateY(-50%);
      }

      [class*='left'] *,
      [class*='right'] * {
        color: var(--dapp-form-placeholder-color);

        .can-transfer-warning-address-explorer,
        .can-transfer-warning-address-copy {
          color: var(--dapp-form-placeholder-color) !important;
          margin: 0;

          svg path {
            fill: var(--dapp-form-placeholder-color);
          }
        }
      }
    }
  }
}
