@import 'assets/sass/variables/_variables.scss';

.infoDust {
  display: inline-block;
  position: relative;

  .infoDustTrigger {
    cursor: pointer;
    color: var(--dapp-form-primary-light);

    &:hover {
      color: var(--dapp-form-link-hover-color);
    }
  }

  .infoDustTooltip {
    width: 200px;
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: var(--dapp-form-white);
    text-align: center;
    border-radius: var(--dapp-form-input-border-radius);
    background-color: var(--dapp-form-black);
  }
}
