@import 'assets/sass/variables/_variables.scss';

.fieldData {
  &.fieldDataHidden {
    display: none;
  }

  .fieldDataLabel {
    margin-bottom: 0.5rem;
  }

  .fieldDataWrapper {
    display: flex;
    position: relative;
  }
}
