@import 'assets/sass/variables/_variables.scss';

.data {
  .label {
    margin-bottom: 0.5rem;
  }

  .wrapper {
    display: flex;
    position: relative;

    .textarea {
      display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: $input-color;
      background-color: $white;
      background-clip: padding-box;
      height: auto;
      border: 1px solid $input-border-color;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:focus {
        color: $input-color;
        background-color: $white;
        border-color: $input-border-focus;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgb(27 70 194 / 25%);
      }

      &.invalid {
        border-color: $error;
      }
    }

    .exclamation {
      position: absolute;
      width: calc(1.5em + 0.75rem);
      top: 0.75rem;
      border-radius: 50%;
      border: 1px solid $error;
      width: 1rem;
      height: 1rem;
      right: 0.75rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .svg {
        path {
          fill: $error;
        }
      }
    }
  }

  .error {
    width: 100%;
    margin-top: 0.25rem;
    color: $error;
    font-size: 80%;
  }
}
