@import 'assets/sass/variables/_variables.scss';

.data {
  display: flex;
  position: relative;

  .wrapper {
    display: flex;
    position: relative;
  }

  .label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    label {
      margin: 0;
    }
  }
}
