@import 'assets/sass/variables/variables';

.tokenElement {
  height: 100%;
  display: flex !important;
  align-items: center;

  .tokenElementWrapper {
    display: flex;

    .tokenElementCircle {
      border-radius: 50%;
      border: 1px solid var(--dapp-form-select-icon-border);
      background-color: var(--dapp-form-select-icon-bg);
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
    }
  }

  .tokenElementIdentifier {
    line-height: 1.5;
  }
}
