.token-element {
  .token-icon {
    border-radius: 50%;
    font-size: 1.2rem;
    text-align: center;
    color: $secondary;
    width: 2.625rem;
    height: 2.625rem;
    min-width: 2.625rem;
    line-height: 2.625rem;
    background: $light;
    box-shadow: inset 0 0 3px rgba($secondary, 0.2);
    .nft-type {
      font-size: 0.8rem;
    }
  }
  svg {
    color: $primary;
  }
  .token-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
  }
  .elrond-symbol {
    margin-left: 4px;
    margin-right: 4px;
  }
}

.is-selected .token-element {
  svg {
    color: $white;
  }
  .elrond-symbol {
    filter: invert(85%);
  }
}
