@import 'assets/sass/variables/_variables.scss';

.to {
  margin-bottom: 2.5rem;

  .label {
    margin-bottom: 0.5rem;
  }

  .autocomplete {
    position: relative;

    input {
      width: 100%;
      display: block;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: $input-color;
      background-color: $white;
      background-clip: padding-box;
      border: 1px solid $input-border-color;
      border-radius: 0.25rem;
      height: auto;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:focus {
        color: $input-color;
        background-color: $white;
        border-color: $input-border-focus;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgb(27 70 194 / 25%);
      }
    }

    .menu {
      position: absolute;
      left: 0px;
      top: 0px;
      display: block;
      max-height: 300px;
      float: left;
      min-width: 10rem;
      font-size: 1rem;
      color: $brown;
      text-align: left;
      list-style: none;
      background-color: $white;
      background-clip: padding-box;
      border: 1px solid rgba($black, 0.15);
      border-radius: $card-border-radius;
      z-index: 1000;

      .item {
        display: block;
        line-height: 1.5;
        padding: 0.25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: $brown;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        cursor: pointer;

        &:hover,
        &.highlighted {
          color: #16181b;
          text-decoration: none;
          background-color: #e9ecef;
        }

        &:first-child {
          margin-top: 0.675rem;
        }

        &:last-child {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: $error;
    display: block;
  }

  .scam {
    line-height: 1.5;
    color: $warning !important;

    svg {
      margin-right: 0.25rem;
    }
  }
}
