@import 'assets/sass/variables/_variables.scss';

.fee {
  margin-bottom: 16px;
  color: var(--dapp-form-input-color);

  .trigger {
    font-size: 16px;
    line-height: 1;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    &:hover .label,
    &:hover .fiat,
    &:hover .arrow {
      color: var(--dapp-form-input-color);
    }

    .label {
      margin-right: 4px;
      color: var(--dapp-form-label-color);
      transition: all 200ms ease;
    }

    .fiat {
      font-size: 12px;
      margin-left: 0.25rem;
      transition: all 200ms ease;
      color: var(--dapp-form-label-color);
    }

    .arrow {
      transition: all 200ms ease;
      color: var(--dapp-form-label-color);
      margin-left: 4px;

      &.active {
        transform: rotateZ(180deg);
      }
    }
  }

  .expandable {
    overflow: hidden;
    transition: height 0.2s ease;

    .content {
      margin-top: 16px;
    }
  }
}
