@use '../../assets/sass/variables/variables';

.trim {
  display: flex;
  min-width: 0;
  max-width: 100%;
  overflow: hidden;

  @media (max-width: 1199.98px) {
    max-width: 26rem;
  }

  @media (max-width: 991.98px) {
    max-width: 12rem;
  }

  @media (max-width: 768px) {
    max-width: 8rem;
  }
}

a:hover > .trim {
  :global(.trim-left),
  :global(.trim-right),
  :global(.trim-ellipsis),
  :global(.trim-full-visible) {
    color: variables.$link-hover-color;
  }
}

a > .trim,
.text-primary > .trim {
  :global(.trim-left),
  :global(.trim-right),
  :global(.trim-ellipsis),
  :global(.trim-full-visible) {
    color: variables.$primary;
  }
}
