@import 'assets/sass/variables/_variables.scss';

.guardians-warning {
  border-radius: 8px;
  padding: 16px;
  border: 1px solid var(--action-bg);

  .guardians-warning-heading {
    display: flex;
    align-items: center;
    color: var(--dapp-form-label-color);

    .guardians-warning-icon {
      margin-right: 12px;
      color: $warning;
      font-size: 24px;
    }

    .guardians-warning-label {
      color: $warning;
    }
  }
}
