@import 'assets/sass/variables/variables';

.trim-wrapper {
  display: flex;
  max-width: 100%;
  overflow: hidden;
}

a:hover > .trim {
  .trim-left,
  .trim-right,
  .trim-ellipsis,
  .trim-full-visible {
    color: var(--link-hover-color);
  }
}

a > .trim,
.text-primary > .trim {
  .trim-left,
  .trim-right,
  .trim-ellipsis,
  .trim-full-visible {
    color: var(--primary);
  }
}

.table .trim {
  max-width: 10rem;
}

.table .trim-only-sm .trim {
  max-width: none;

  @include media-breakpoint-down(sm) {
    max-width: 13rem;
  }
}

.trim-fs-sm .trim {
  .trim-left,
  .trim-right,
  .trim-ellipsis,
  .trim-full {
    font-size: 0.875rem;
  }
}

.table .trim-size-xl .trim {
  @include media-breakpoint-up(md) {
    max-width: 13rem;
  }
}
