@import 'assets/sass/variables/variables';

.amount {
  margin-bottom: 16px;
  display: block;

  .wrapper {
    align-items: center;
    background: var(--dapp-form-input-bg);
    border-radius: var(--dapp-form-input-border-radius);
    display: flex;
    padding: 0.1rem;
    position: relative;

    .interaction {
      align-items: center;
      bottom: 0;
      display: flex;
      padding-right: 0.1rem;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .label {
    display: flex;
    justify-content: space-between;
  }
}
