@import 'assets/sass/variables/_variables.scss';

.receiver {
  position: relative;

  .autocomplete {
    position: relative;

    input[aria-hidden='true'] {
      display: none;
    }

    .menu {
      left: 0px;
      top: 0px;
      float: left;
      min-width: 10rem;
      font-size: 1rem;
      color: var(--brown);
      text-align: left;
      list-style: none;
      background-color: var(--white);
      background-clip: padding-box;
      border: 1px solid rgba(#000000, 0.15);
      border-radius: var(--dapp-form-input-border-radius);
      z-index: 1000;
      inset: unset;
      max-height: 300px;
      overflow: unset;
      transform: none;
      overflow-x: scroll;

      .item {
        display: inline-block;
        line-height: 1.5;
        padding: 0.25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: var(--brown);
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        text-decoration: none;

        &:hover,
        &.highlighted {
          color: #16181b;
          text-decoration: none;
          background-color: #e9ecef;
        }

        &:first-child {
          margin-top: 0.675rem;
        }

        &:last-child {
          margin-bottom: 0.675rem;
        }

        .trim {
          display: flex;
          align-items: flex-end;
        }
      }
    }
  }

  .receiver-select-container {
    background-color: var(--body-bg);
    border: 1px solid transparent;
    transition: var(--transition);
    border-radius: 8px;

    &.invalid {
      border-color: var(--danger);
    }

    &.focused {
      border-color: var(--primary);
    }

    &.expanded {
      z-index: 3;
      position: relative;
    }

    &.opened + div {
      display: none;
    }

    .receiver-select-control {
      background-color: transparent !important;
      border: none;
      box-shadow: none;
      cursor: pointer;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 2;

      .receiver-select-value {
        padding: 0;
        display: flex;

        .receiver-select-single {
          padding: 12px;
          font-size: 14px;
          display: flex;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          color: var(--action-color);
          margin: 0;
          gap: 4px;

          &.disabled {
            color: var(--dapp-form-input-color-disabled);

            [class*='__left'] *,
            [class*='__right'] * {
              color: var(--dapp-form-input-color-disabled);
            }
          }

          .receiver-select-single-username {
            display: flex;
            align-items: center;
            gap: 4px;
            white-space: nowrap;

            .receiver-select-single-username-icon {
              height: 20px;
              width: 20px;
              background: var(--black);
              border-radius: 4px;
              padding: 3px;
              padding-bottom: 2px;
            }
          }

          .receiver-select-single-trim-wrapper {
            display: flex;
            gap: 4px;
            color: var(--placeholder-color);
            align-items: center;
            overflow: hidden;

            .receiver-select-single-trim {
              color: var(--placeholder-color);

              [class*='__left'] *,
              [class*='__right'] * {
                color: var(--placeholder-color);
              }
            }
          }

          .receiver-select-single-trim {
            align-items: center;
          }

          .receiver-select-option-name {
            color: var(--action-color);
            margin-right: 4px;
            font-size: 1rem;
          }

          [class*='__left'],
          [class*='__right'] {
            line-height: 17px;
            height: 17px;
          }
        }

        .receiver-select-input {
          margin: 0;
          padding: 0;
          display: flex;

          &:after {
            content: none;
          }

          &.visible input {
            opacity: 1;
          }

          &.spaced input {
            padding-left: 36px !important;
          }

          input {
            flex: 1;
            min-height: auto;
            border-radius: 8px;
            padding: 12px !important;
            line-height: 17px !important;
            font-size: 14px !important;
            color: var(--action-color) !important;

            @media (min-width: 768px) {
              opacity: 0;
            }
          }
        }
      }

      .receiver-select-spinner {
        margin-right: 12px;
        font-size: 16px;
      }

      .receiver-select-indicator {
        transition: var(--transition);
        margin-left: -12px;
        z-index: 1;
        pointer-events: all;

        svg path {
          fill: var(--heading-color);
        }

        &:hover svg path {
          fill: var(--heading-color);
        }

        &.expanded {
          transform: rotateZ(180deg);
        }

        &.hidden {
          display: none;
        }
      }
    }

    .receiver-select-menu {
      margin: 8px 0 0;
      padding: 4px;
      background-color: var(--body-bg);
      border-radius: var(--border-radius-low);
      z-index: 1;

      &:before {
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        border: 8px solid var(--body-bg);
        left: 0;
        top: 0;
        border-radius: var(--border-radius-low);
        z-index: 1;
        pointer-events: none;
      }

      .receiver-select-autocomplete {
        font-size: 14px;
        padding: 12px;
        border: 1px solid transparent;
        bottom: calc(100% + 8px - 1px);
        border-right: 0;
        position: absolute;
        pointer-events: none;
        color: var(--placeholder-color);
        left: -1px;
        right: 24px;
        align-items: center;
        justify-content: flex-start;
        display: flex;
        gap: 4px;

        & > * {
          max-width: none;
        }

        [class*='__left'],
        [class*='__right'],
        [class*='__ellipsis'] {
          line-height: 17px;
          height: 17px;

          * {
            color: var(--placeholder-color) !important;
          }
        }

        &.receiver-select-autocomplete-untrimmed {
          text-overflow: ellipsis;
          line-height: 17px;
          overflow: hidden;
          white-space: nowrap;
          display: block;
        }

        &.receiver-select-autocomplete-username {
          padding-left: 36px;
          white-space: nowrap;
        }

        .receiver-select-autocomplete-icon {
          min-width: 20px;
          flex: 1;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 12px;
          height: 20px;
          width: 20px;
          background: var(--black);
          border-radius: 4px;
          padding: 3px;
          padding-bottom: 2px;

          &.receiver-select-autocomplete-icon-muted {
            opacity: 0.75;
          }
        }

        .receiver-select-autocomplete-wrapper {
          display: flex;
          align-items: center;
          gap: 4px;
          overflow: hidden;
          color: var(--card-subtitle);

          [class*='__left'] *,
          [class*='__right'] * {
            color: var(--card-subtitle) !important;
          }
        }

        .receiver-select-autocomplete-collection {
          margin-left: 4px;
          color: var(--card-subtitle);
        }
      }

      .receiver-select-list {
        padding: 0;
        gap: 4px;
        display: flex;
        flex-direction: column;

        &::-webkit-scrollbar {
          width: 12px;
        }

        &::-webkit-scrollbar-track {
          border: 4px solid rgba(0, 0, 0, 0);
          background-clip: padding-box;
          border-radius: 9999px;
          background-color: var(--border-color);
        }

        &::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar-thumb:hover {
          border: 4px solid rgba(0, 0, 0, 0);
          background-clip: padding-box;
          border-radius: 9999px;
          background-color: var(--card-subtitle);
        }

        .receiver-select-option {
          cursor: pointer;
          line-height: 1.25;
          padding: 12px !important;
          border-radius: 6px;
          background-color: transparent;
          width: calc(100% - 8px);
          margin: 0 4px;
          display: flex;
          align-items: center;
          gap: 4px;

          &:first-child {
            margin-top: 4px;
          }

          &:last-child {
            margin-bottom: 4px;
          }

          &:hover,
          &.focused {
            background-color: var(--action-bg);

            .receiver-select-option-name {
              color: var(--action-color);

              [class*='__left'] *,
              [class*='__right'] * {
                color: var(--action-color);
              }
            }

            .receiver-select-option-name-wrapper {
              color: var(--placeholder-color);

              .receiver-select-option-name {
                color: var(--placeholder-color);

                [class*='__left'] *,
                [class*='__right'] * {
                  color: var(--placeholder-color);
                }
              }
            }

            .receiver-select-option-username {
              color: var(--action-color);
            }

            .receiver-select-option-collection {
              color: var(--placeholder-color);
            }

            strong {
              font-weight: 900 !important;
            }
          }

          .receiver-select-option-name-wrapper {
            display: flex;
            align-items: center;
            overflow: hidden;
            color: var(--card-subtitle);
            font-size: 1rem;
            gap: 4px;

            * {
              font-size: 1rem !important;
            }

            .receiver-select-option-name {
              color: var(--card-subtitle);

              [class*='__left'] *,
              [class*='__right'] * {
                color: var(--card-subtitle);
              }
            }
          }

          .receiver-select-option-username {
            font-size: 1rem;
            position: relative;
            padding-left: 28px;
            color: var(--placeholder-color);
            display: flex;
            align-items: center;

            * {
              white-space: nowrap;
            }

            .receiver-select-option-username-icon {
              height: 20px;
              width: 20px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              background: var(--black);
              border-radius: 4px;
              left: 0;
              padding: 3px;
              padding-bottom: 2px;
            }
          }

          .receiver-select-option-name {
            color: var(--placeholder-color);
            align-items: flex-end;
            display: flex;
            max-width: none;

            [class*='__left'] *,
            [class*='__right'] * {
              color: var(--placeholder-color);
            }
          }

          .receiver-select-option-collection {
            color: var(--card-subtitle);

            strong {
              color: var(--action-color);
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  .found,
  .loading {
    top: 0;
    font-size: 12px;
    line-height: 1;
    position: absolute;
    right: 0;
    color: var(--dapp-form-label-color);
    display: flex;
    align-items: center;
    gap: 4px;

    .svg {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: 1;
    }
  }
}
