@import 'assets/sass/variables/_variables.scss';

.receiverField {
  margin-bottom: 1.5rem;

  .receiverFieldLabel {
    margin-bottom: 0.5rem;
  }

  .receiverFieldAutocomplete {
    position: relative;

    input[aria-hidden='true'] {
      display: none;
    }

    .receiverFieldMenu {
      left: 0px;
      top: 0px;
      float: left;
      min-width: 10rem;
      font-size: 1rem;
      color: $brown;
      text-align: left;
      list-style: none;
      background-color: $white;
      background-clip: padding-box;
      border: 1px solid rgba($black, 0.15);
      border-radius: $card-border-radius;
      z-index: 1000;
      inset: unset;
      max-height: 300px;
      overflow: unset;
      transform: none;
      overflow-x: scroll;

      .receiverFieldItem {
        display: inline-block;
        line-height: 1.5;
        padding: 0.25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: $brown;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        text-decoration: none;

        &:hover,
        &.highlighted {
          color: #16181b;
          text-decoration: none;
          background-color: #e9ecef;
        }

        &:first-child {
          margin-top: 0.675rem;
        }

        &:last-child {
          margin-bottom: 0.675rem;
        }
      }
    }
  }

  .receiverFieldScam {
    line-height: 1.5;
    color: $warning;

    svg {
      margin-right: 0.25rem;
    }
  }
}
