@import 'assets/sass/variables/_variables.scss';

.receiver {
  margin-bottom: 16px;

  .autocomplete {
    position: relative;

    input[aria-hidden='true'] {
      display: none;
    }

    .menu {
      left: 0px;
      top: 0px;
      float: left;
      min-width: 10rem;
      font-size: 1rem;
      color: var(--brown);
      text-align: left;
      list-style: none;
      background-color: var(--white);
      background-clip: padding-box;
      border: 1px solid rgba(#000000, 0.15);
      border-radius: var(--dapp-form-input-border-radius);
      z-index: 1000;
      inset: unset;
      max-height: 300px;
      overflow: unset;
      transform: none;
      overflow-x: scroll;

      .item {
        display: inline-block;
        line-height: 1.5;
        padding: 0.25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: var(--brown);
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        text-decoration: none;

        &:hover,
        &.highlighted {
          color: #16181b;
          text-decoration: none;
          background-color: #e9ecef;
        }

        &:first-child {
          margin-top: 0.675rem;
        }

        &:last-child {
          margin-bottom: 0.675rem;
        }

        .trim {
          display: flex;
          align-items: flex-end;
        }
      }
    }
  }
}
