@import 'assets/sass/variables/_variables.scss';

.gas {
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: 8px;

    & > label {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .gas-multipliers {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      gap: 12px;

      .gas-multiplier {
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 4px;
        transition: all 200ms ease;
        color: #a3a3a3;

        &.checked {
          color: #23f7dd;
        }

        .gas-multiplier-input {
          height: 12px;
          width: 12px;
          min-height: auto;
          border: 1px solid #a3a3a3;
          cursor: pointer;
          border-radius: 50%;
          appearance: none;
          background-color: transparent;

          &:checked {
            border-width: 4px;
            border-color: #23f7dd;
          }
        }

        .gas-multiplier-label {
          font-size: 12px;
          cursor: pointer;
          line-height: 1;
        }
      }
    }
  }

  .wrapper {
    position: relative;

    .inputContainer {
      position: relative;
    }

    .input {
      display: initial;

      &.spaced {
        padding-right: 48px;
      }
    }

    .actions {
      right: 0;
      top: 0;
      position: absolute;
      bottom: 0;
      display: flex;

      .action {
        padding: 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover .icon {
          color: #23f7dd;
        }

        &:not(:first-child) {
          position: relative;

          &:before {
            background-color: var(--dapp-form-placeholder-color);
            width: 1px;
            top: 16px;
            bottom: 16px;
            left: 0;
            content: '';
            position: absolute;
          }
        }

        .icon {
          color: var(--dapp-form-placeholder-color);
          transition: all 200ms ease;
        }
      }
    }
  }
}
