@import 'assets/sass/variables/_variables.scss';

.gas {
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  .wrapper {
    position: relative;

    .actions {
      right: 0;
      top: 0;
      position: absolute;
      bottom: 0;
      display: flex;

      .action {
        padding: 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover .icon {
          color: #23f7dd;
        }

        &:not(:first-child) {
          position: relative;

          &:before {
            background-color: var(--dapp-form-placeholder-color);
            width: 1px;
            top: 16px;
            bottom: 16px;
            left: 0;
            content: '';
            position: absolute;
          }
        }

        .icon {
          color: var(--dapp-form-placeholder-color);
          transition: all 200ms ease;
        }
      }
    }
  }
}
