@import 'assets/sass/variables/_variables.scss';

.gas {
  position: relative;
  
  &:last-child {
    margin-bottom: 0;
  }

  .wrapper {
    position: relative;

    .undo {
      position: absolute;
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      right: 0;
      top: 0;
      bottom: 0;

      &:before {
        background-color: var(--dapp-form-placeholder-color);
        width: 1px;
        top: 16px;
        bottom: 16px;
        left: 0;
        content: '';
        position: absolute;
        transition: all 200ms ease;
      }

      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }

      &.disabled,
      &:hover {
        &:before {
          background-color: var(--dapp-form-input-color);
        }

        .reset svg {
          color: var(--dapp-form-input-color);
        }
      }

      .reset {
        background-color: transparent;
        border: none;
        padding: 0;

        svg {
          color: var(--dapp-form-placeholder-color);
          transition: all 200ms ease;
        }
      }
    }
  }
}
