@import 'assets/sass/variables/_variables.scss';

.amount {
  .left {
    .value {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .price {
      font-weight: 400;
      color: var(--dapp-form-label-color);
    }
  }
}
