@import 'assets/sass/variables/_variables.scss';

.confirmTo {
  line-height: 1.5;
  margin-bottom: 1rem;

  .confirmToLabel {
    color: $secondary;
    display: block;
  }

  .confirmToReceiver {
    overflow: scroll;
    display: block;

    &::-webkit-scrollbar {
      height: 3px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: $black;
    }
  }

  .confirmToScam {
    color: $warning !important;

    .confirmToIcon {
      margin-right: 0.25rem;
    }
  }
}
