@import 'assets/sass/variables/_variables.scss';

.form {
  background-color: var(--dapp-form-bg);
  border-radius: 12px;
  padding: 32px;
  flex: 1;
  display: flex;
  flex-direction: column;

  .formFieldset {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    gap: 32px;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .formWrapper {
    margin-bottom: 1.5rem;
  }

  .form-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 72px;

    @media (min-width: 768px) {
      padding-top: 80px;
    }

    .buttonSendDisabled {
      color: var(--heading-color);
      background-color: transparent;
      border: 1px solid var(--card-subtitle);
      pointer-events: none;
      cursor: default;
    }
  }
}
