@import 'assets/sass/variables/_variables.scss';

.form {
  background-color: var(--dapp-form-bg);
  border-radius: 12px;
  padding: 32px;

  .formFieldset {
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
  }

  .formWrapper {
    margin-bottom: 1.5rem;
  }

  .form-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;

    @media (min-width: 768px) {
      margin-top: 80px;
    }
  }
}
