@import 'assets/sass/variables/_variables.scss';

.form {
  padding: 1.5rem;
  background-color: var(--dapp-form-bg);
  border-radius: 12px;
  padding: 32px;

  .formFieldset {
    padding: 0;
    margin: 0;
    border: none;
  }

  .formWrapper {
    margin-bottom: 1.5rem;
  }

  .formButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
