@import 'assets/sass/variables/_variables.scss';

.form {
  margin: 1.5rem;

  .formFieldset {
    padding: 0;
    margin: 0;
    border: none;
  }

  .formWrapper {
    margin-bottom: 1.5rem;
  }

  .formButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
