@import 'assets/sass/variables/variables';

.summary {
  display: flex;
  flex: 1;
  flex-direction: column;

  .fields {
    gap: 32px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;

    .warning {
      background-color: #2a1d15;
      border-radius: 16px;
      padding: 16px;
      color: #f59e0b;
      font-size: 14;
      display: flex;
      gap: 16px;
      align-items: flex-start;
      line-height: 1.25;

      strong {
        font-size: 16px;
        margin-bottom: 4px;
        display: block;
      }

      .warning-icon {
        color: #f59e0b;
        font-size: 20px;
      }
    }

    .columns {
      display: flex;
      column-gap: 16px;
      row-gap: 32px;
      flex-wrap: wrap;
      align-items: flex-start;

      .column {
        min-width: calc(50% - 8px);
        text-align: left;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 72px;

    @media (min-width: 768px) {
      padding-top: 80px;
    }
  }
}
