@import 'assets/sass/variables/variables';

.error {
  width: 100%;
  display: block;
  color: var(--dapp-form-error-color);
  line-height: 1;
  margin: 8px 0;
  font-size: 12px;

  &.scam svg {
    margin-right: 4px;
    color: var(--dapp-form-error-color) !important;
  }
}

.label {
  margin-bottom: 8px;
  color: var(--dapp-form-label-color);
  font-size: 1rem;
  line-height: 1;
}

.input {
  padding: 0 1rem;
}

.textarea {
  padding: 1rem;
}

.input,
.textarea {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: var(--dapp-form-input-color) !important;
  background-clip: padding-box;
  border: 1px solid var(--dapp-form-input-bg) !important;
  border-radius: var(--dapp-form-input-border-radius);
  width: 100%;
  box-sizing: border-box;
  background-color: var(--dapp-form-input-bg) !important;
  transition: all 200ms ease;

  &:focus {
    outline: 0;
    color: var(--dapp-form-input-color) !important;
  }

  &::placeholder {
    color: var(--dapp-form-placeholder-color) !important;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &.error {
    margin: 0;
    border-color: var(--dapp-form-error-color) !important;
    font-size: 1rem;
  }
}

.btn {
  padding: 0.375rem 0.75rem;
  margin: 0 !important;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: var(--dapp-form-input-border-radius);
  cursor: pointer;
  border: none;
  margin-bottom: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.btnPrimary {
    background-color: $primary;
    color: $white;

    &:hover {
      background-color: $btn-blue;
    }
  }

  &.btnWarning {
    background-color: $warning;
    color: $brown;
  }

  &.btnLink {
    color: $primary-light;
    background: none;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}
