@import 'assets/sass/variables/variables';

.error {
  width: 100%;
  display: block;
  color: var(--dapp-form-error-color);
  line-height: 1;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 8px;
  font-size: 12px;

  &.scam svg {
    margin-right: 4px;
    color: var(--dapp-form-error-color) !important;
  }
}

.label {
  margin-bottom: 8px;
  color: var(--dapp-form-label-color);
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  display: block;
}

.value {
  color: var(--dapp-form-input-color);
  display: block;
  background: var(--dapp-form-input-bg) !important;
  border-radius: var(--dapp-form-input-border-radius);
  padding: 12px;
  margin-top: 4px;
  font-size: 1rem;
}

.input,
.textarea {
  font-weight: 400;
  line-height: 1;
  color: var(--dapp-form-input-color) !important;
  background-clip: padding-box;
  border: 1px solid var(--dapp-form-input-bg);
  border-radius: var(--dapp-form-input-border-radius);
  width: 100%;
  box-sizing: border-box;
  background-color: var(--dapp-form-input-bg) !important;
  transition: all 200ms ease;
  padding: 12px;
  font-size: 14px;

  &::placeholder {
    color: var(--dapp-form-placeholder-color) !important;
  }

  &.disabled {
    pointer-events: none;
    color: var(--dapp-form-input-color-disabled) !important;

    &::placeholder {
      color: var(--dapp-form-input-color-disabled) !important;
    }
  }

  &.invalid {
    margin: 0;
    border-color: var(--dapp-form-error-color);
    font-size: 1rem;
  }

  &:focus {
    outline: 0;
    color: var(--dapp-form-input-color) !important;
    border-color: var(--dapp-form-input-border-focus);
  }
}

.textarea {
  line-height: 1.25;
  min-height: 80px;
}

.button-send {
  margin: 0 auto;
  align-self: center;
  line-height: 1;
  font-family: 'Inter';
  transition: all 200ms ease;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 24px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  border: none;
  box-shadow: none;
  background-color: var(--dapp-form-btn-bg);

  &:hover {
    background-color: var(--dapp-form-btn-bg-hover);
  }
}

.button-text {
  font-size: 16px;
  font-weight: 500;
  margin-top: 24px;
  text-align: center;
  cursor: pointer;
  transition: all 200ms ease;
  color: var(--dapp-form-btn-bg);
  background-color: transparent;
  border: none;
  padding: 0;

  @media (min-width: 768px) {
    margin-top: 32px;
  }

  &:hover {
    color: var(--dapp-form-btn-bg-hover);
  }
}

.btn {
  padding: 0.375rem 0.75rem;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: var(--dapp-form-input-border-radius);
  cursor: pointer;
  border: none;
  margin-bottom: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.btnPrimary {
    background-color: var(--dapp-form-primary);
    color: var(--dapp-form-white);

    &:hover {
      background-color: var(--dapp-form-btn-blue);
    }
  }

  &.btnWarning {
    background-color: var(--dapp-form-warning);
    color: var(--dapp-form-brown);
  }

  &.btnLink {
    color: var(--dapp-form-primary-light);
    background: none;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}
